{
  "$schema": "https://opencode.ai/config.json",
  "theme": "tharris",
  "autoupdate": true,
  "instructions": [
    ".github/instructions/*.md",
    "~/.config/opencode/instructions/*.md"
  ],
  "plugin": ["opencode-antigravity-auth@1.3.0"],
  "mcp": {
    "fetch": {
      "enabled": true,
      "type": "local",
      "command": ["uvx", "mcp-server-fetch"]
    },
    "context7": {
      "enabled": true,
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "{{ .context7_api_key }}"
      }
    },
    "container-use": {
      "enabled": false,
      "type": "local",
      "command": ["container-use", "stdio"]
    },
    "playwright": {
      "enabled": false,
      "type": "local",
      "command": ["npx", "@playwright/mcp@latest", "--headless"]
    },
    "chrome-devtools": {
      "enabled": false,
      "type": "local",
      "command": ["npx", "-y", "chrome-devtools-mcp@latest"]
    },
    "github": {
      "enabled": true,
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@modelcontextprotocol/server-github",
        "--GITHUB_PERSONAL_ACCESS_TOKEN",
        "{{ .github_token }}"
      ]
    },
    "clickup": {
      "enabled": true,
      "type": "remote",
      "url": "https://mcp.clickup.com/mcp",
      "oauth": {}
    }
  }
}
