@define-color foreground rgba(255,255,255,0.8);
@define-color background rgba(255,255,255,0.3);

/*
 * @import '../../.cache/wal/colors-waybar.css';
 */

window#waybar {
    background: transparent;
    color: @foreground;
}

#waybar button:hover {
    background:@foreground;
    color:#000;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */
tooltip {
  background: rgba(20,20,20,.9);
  border: 2px solid alpha(@foreground, 1);
  padding: 16px;
  margin: 16px;
}
tooltip label {
  color: @foreground;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */


.module {
    margin: 8px;
    font-weight: bold;
}
.modules-left > widget:first-child > .module {
    margin-left: 16px;
}
.modules-right > widget:last-child > .module {
    margin-right: 16px;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */
#workspaces {
    border-radius: 16px;
    /* border: 2px solid @foreground; */
    background-color: @background;
    padding: 4px;
}
#workspaces button {
    color: transparent;
    padding: 0px 8px;
    border-radius: 16px;
    margin: 0 4px;
}
#workspaces button.empty {
    /* background-color: @color2; */
    /* color: @foreground; */
}
#workspaces button.visible {
    /* background-color: @color3; */
    /* color: @foreground; */
}
#workspaces button.active {
    background-color: @foreground;
    /* color: @background; */
}
#workspaces button.urgent {
    /* background-color: @color5; */
    /* color: @foreground; */
}


/* -----------------------------------------------------
 * Custom
 * ----------------------------------------------------- */
#custom-wlogout {
    border-radius: 16px;
    background: @background;
}
#custom-wlogout:hover {
    background:@foreground;
    color:#000;
}

