brew install \
    zsh \
    git \
    curl \
    wget \
    chezmoi \
    neovim \
    tmux \
    lazygit \
    zoxide \
    tealdeer \
    eza \
    fzf \
    opencode \
    bitwarden \ 
    gpg \
    pass

